name: Snakemake CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.11.2"]
        poetry-version: ["1.8.3"]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run Snakefmt for Snakefile and .smk files
        if: |
          contains(github.event.head_commit.message, 'Snakefile') ||
          contains(github.event.head_commit.message, '.smk') 
        run: |
          - name: Lint Code Base
            uses: github/super-linter/slim@v5
            env:
              VALIDATE_ALL_CODEBASE: true
              DEFAULT_BRANCH: branch_name
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              DISABLE_ERRORS: true # Optional: Disable all errors, just give warnings
              PYTHON_FLAKE8_CONFIG_FILE: .flake8
              VALIDATE_PYTHON_FLAKE8: true
              VALIDATE_SNAKEMAKE_SNAKEFMT: true

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - uses: mamba-org/setup-micromamba@v1
        with:
          micromamba-version: '1.5.6-0' 
          environment-file: environment.yml
          init-shell: >-
            bash
          cache-environment: true
          post-cleanup: 'all'

      - name: Install dependencies
        run: |
          pip install -e .

      - name: Snakemake Testing
        run: |
          snakemake --cores 1 --snakefile workflow/Snakefile --directory .test --verbose

      